@import 'tailwindcss';
@plugin "daisyui";

/* Default theme */
:root {
  --surface: #f0efff;
  --surface-card: #ffffff;
  --surface-card-hover: #f8eee9;
  --surface-card-selected: #f1ddd3;
  --surface-image-bg: #555555;

  --text-primary: #1e1b4b;
  --text-secondary: #52525b;
  --text-muted: #707070;

  --brand-tint: #a8a5cc;
  --brand: #7872a8;

  --secondary-tint: #a8d0bc;
  --secondary: #361e11;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevent body scroll */
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--surface);
}

/*
Mobile-first approach template
*/

/*
sm (mobile)
0 - 640px
*/
@media (min-width: 640px) {
}

/*
md (tablets, small laptops)
641 - 768px
*/
@media (min-width: 768px) {
}

/*
lg (desktops)
769 - 1024px
*/
@media (min-width: 1024px) {
}
