@import 'tailwindcss';
@plugin "daisyui";

/* Default theme */
:root {
  --dark-grey: #333333;
  --med-grey: #555555;
  --accent-grey: #b5b5b1;

  --surface-alt: #fdfdfd;
  --surface: #f2f2f2;
  --surface-card: #e8e8e8;
  --surface-card-hover: #dadada;

  --text-primary: #252925; /* deep gray-green, nearly black */
  --text-secondary: #4b524b; /* medium gray-green */
  --text-muted: #767c76; /* soft gray, lower emphasis */
  --text-inverse: #e7f3ea; /* for use on brand buttons */

  --brand-tint: #9fc2ba; /* lighter variant of forest */
  --brand: #00735c; /* forest */
  --brand-shade: #00493a; /* darker variant of forest */

  --secondary-tint: #beb8b6; /* lighter variant of coffee */
  --secondary: #83746e; /* coffee */
  --secondary-shade: #695d58; /* darker variant of coffee */
}

.halloween-theme {
  --primary-color: #39243b;
  --secondary-color: #ad612d;
  --accent-color: #b3c08e;
  --surface-color: #d3ab8a;
  --surface-color-dark: #af8b6e;
}

.spring-theme {
  --brand-tint: #7bc7ff; /* lighter variant of blue grotto */
  --brand: #0067b3; /* blue grotto */
  --brand-shade: #004d86; /* darker variant of blue grotto */

  --secondary-tint: #ecdeac; /* lighter variant of yellow */
  --secondary: #f0d161; /* yellow */
  --secondary-shade: #ceb65e; /* darker variant of yellow */
}

.autumn-theme {
  --surface-alt: #fdfdfd;
  --surface: #fbf3e7;
  --surface-card: #f8e9d2;
  --surface-card-hover: #f4debe;

  --brand-tint: #ce8f68; /* lighter variant of burnt orange */
  --brand: #914110; /* burnt orange */
  --brand-shade: #612c0b; /* darker variant of burnt orange */

  --secondary-tint: #adb49c; /* lighter variant of muddy green */
  --secondary: #849261; /* muddy green */
  --secondary-shade: #6e7955; /* darker variant of muddy green */
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevent body scroll */
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--surface);
}

/*
Mobile-first approach template
*/

/*
sm (mobile)
0 - 640px
*/
@media (min-width: 640px) {
}

/*
md (tablets, small laptops)
641 - 768px
*/
@media (min-width: 768px) {
}

/*
lg (desktops)
769 - 1024px
*/
@media (min-width: 1024px) {
}
